.news .news-list{
    padding: 25px 15px;
    border-left: #ccc solid 1px
}
.news .news-list h2{
    vertical-align: top;
    color:black;
    font-size: 20px;
    text-indent:20px;
    display: inline-block;
}