.wrap{
    width: 90%;
    margin: 5% auto
}
li{
    list-style: none;
}
a{
    text-decoration: none
}
.active{
    color: red;
}
.pagination li span{
    cursor: pointer;
}
#ncc-null-shopping {
    width: 480px;
    height: 340px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
